{% extends "base.html" %}

{% block content %}
<a href="{% url 'create_category' %}">Create</a>

<main>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expensecategory_list %}
      <tr>
        <td>{{ expense.name }}</td>
        <td>{{ expense.receipts.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
